body{
	background-image: url(../img/680E33.png);
	background-repeat: no-repeat;
	width: 100%;
}
.text-menu{
	color: #fff;
	margin: auto;
	padding: 10px;
}

.main-container {
 /* float: left;
  position: relative;
  width: 50%;
  left: 50%;*/
}
.fixer-container {
  /*float: left;
  position: relative;
  width: 100%;
  left: -50%;*/
}